@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('media/fondo.jpg');
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

/* Menú de navegación */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}


/* Menu de navegacion */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    font-size: 20px;
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Main */

#Practicas {
    width: 450px;
    background: #bbc0be85;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}

select {
    background: #ffffffbb;
    flex: 1;
    padding: 0 .5em;
    color: rgb(61, 58, 58);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding: 3px;
    font-size: 15px;
    text-align: center;
}

.select {
    display: flex;
    width: 370px;
    height: 40px;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .35em;
    margin: 10px;
    border: 1px solid #96badd;
}

#Nombre {
    margin: auto;
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#Nombre h1 {
    padding: 10px;
}

/* .controls {
    width: 370px;
    height: 40px;
    background: #5c6664;
    padding: 10px;
    border-radius: .35em;
    font-size: 1em;
    color:#fff;
} */

.controls {
    width: 370px;
    height: 40px;
    background: #ffffffbb;
    padding: 10px;
    border-radius: .35em;
    border: 1px solid #96badd;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

::placeholder {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(61, 58, 58);
}

.send-button {
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    border: 2px solid rgb(52, 89, 124);
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, rgb(52, 89, 124) 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.send-button:hover {
    background-position: right;
    color: white;
    font-weight: 700;
}

.about {
    text-align: center;
    margin-top: 10px;
    margin: auto;
    padding: 0;
}

h2{
    text-align: center;
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: -40px;
    margin-top: 80px;
}

/* Footer */

.footer {
    background-color: #1D293F;
    margin-top: 185px;
}

.footer__copy {
    padding: 25px;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300px;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}

/* .container .about{
    
} */

.subtitle{
    text-align: center;
    padding: 0;
    padding-bottom: 0;
}

.container2{
    margin-top: 0;
    padding-top: 0%;
}

#btnSalir {
    display: none;
    font-size: 21px;
    color: #fff;
    border: none;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }